aiohttp-cors==0.7.0
aioredis==2.0.1
azure-identity==1.19.0
bokeh==3.1.1
brotli==1.1.0
cloudpickle==3.1.0
colorful==0.5.6
deprecated==1.2.14
dill==0.3.9
durationpy==0.9
fire==0.7.0
fqdn==1.5.1
google-api-python-client==2.151.0
gpustat==1.1.1
httptools==0.6.4
inflect==7.3.1
ipympl==0.9.3
isoduration==20.11.0
jaraco.collections==5.1.0
jsonpointer==3.0.0
jupyterlab-git==0.50.2
keras-preprocessing==1.1.2
kfp==2.5.0
kfserving==0.6.1
kserve==0.13.1
msrest==0.7.1
nbclassic==1.1.0
notebook==7.2.2
opencensus==0.11.4
pip-chill==1.0.3
pip-tools==7.4.1
py-spy==0.4.0
pycryptodome==3.21.0
pyopenssl==24.2.1
pyrsistent==0.20.0
pysocks==1.7.1
python-dotenv==1.0.1
redis==5.2.0
scikit-image==0.21.0
scikit-learn==1.3.2
seaborn==0.13.2
smart-open==7.0.5
strip-hints==0.1.10
tensorboard-plugin-wit==1.8.1
tensorflow==2.12.0
tqdm==4.66.6
tritonclient==2.41.1
uri-template==1.3.0
uvloop==0.21.0
virtualenv==20.27.1
watchfiles==0.24.0
webcolors==24.8.0
websockets==13.1
xgboost==2.1.2